/*Base Styles*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ECEAE0;
  font: 1rem/1.5 'Varela Round', sans-serif, Helvetica, 'Century Gothic';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}


/* Media Queries -------- */

@media(min-width: 768px) {


  }

@media(min-width: 1024px) {


  }

}
